<ng-container *ngIf="food | async as foodItem">
  <div *ngIf="foodItem.id; else noData" class="container">
    <img [src]="foodItem.imageUrl" [alt]="foodItem.name"/>
    <div class="details">
      <div class="header">
      <span class="name">
        {{foodItem.name}}
      </span>
        <span class="favorite {{foodItem.favorite? '': 'not'}}">❤</span>
      </div>
      <div class="rating">
        <star-rating
          [value]="foodItem.stars"
          size="22px"
        />
      </div>

      <div class="origins">
      <span *ngFor="let origin of foodItem.origins">
        {{origin}}
      </span>
      </div>

      <div class="tags">
        <a *ngFor="let tag of foodItem.tags" routerLink="/tag/{{tag}}">
          {{tag}}
        </a>
      </div>

      <div class="cook-time">
      <span>
        Time to cook about <strong>{{foodItem.cookTime}}</strong> minutes
      </span>
      </div>

      <div class="price">
      <span>
        {{foodItem.price | currency}}
      </span>
      </div>

      <button (click)="addToCart()">Add To Cart</button>
    </div>
  </div>
</ng-container>

<ng-template #noData>
  <app-not-found
    [visible]="true"
    notFoundMessage="Food Not Found!"
    resetLinkText="Back To Homepage"
  ></app-not-found>
</ng-template>
